(
    strokes: [
        // 縦線
        [(0.5, 0.0, 0.0), (0.5, 1.0, 0.0)],
        // 左上のセリフ
        [(0.3, 0.8, 0.0), (0.5, 1.0, 0.0)],
        // 下のセリフ
        [(0.2, 0.0, 0.0), (0.8, 0.0, 0.0)],
    ],
)
